.greet-anim {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: #de1c30;
    transition: .5s ease;
}
.greet-anim.hidden {
    opacity: 0;
}
.greet-anim h1 {
    position: absolute;
    left: 10vw;
    top: 30vh;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 15px;
    text-transform: uppercase;
    color: #fff;
}
.greet-anim p {
    display: flex;
}
.greet-anim-letter {
    display: block;
    overflow: hidden;
    text-align: center;
}
.greet-anim-letter span {
    display: block;
    transform: translateX(-100%);
    transition: 1s ease-in-out;
}
.greet-anim-letter span.greet-anim_visible {
    transform: translateX(0);
}


@media screen and (max-width: 1435px) {
    .greet-anim h1 {
        font-size: 80px;
        top: 50vh;
    }
}
@media screen and (max-width: 768px) {
    .greet-anim h1 {
        font-size: 35px;
    }
}
@media screen and (max-width: 600px) {
    .greet-anim h1 {
        font-size: 30px;
        left: 5vw;
        letter-spacing: 10px;
    }
}