@font-face {
    font-family: 'GolosTextWeb';
    src: url('../fonts/Golos-Text_Medium.woff2') format('woff2'),
    url('fonts/Golos-Text_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GolosTextWeb';
    src: url('../fonts/Golos-Text_Regular.woff2') format('woff2'),
    url('fonts/Golos-Text_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GolosTextWeb', sans-serif;
    background-color: rgb(242, 243, 245);
    --main-color: rgba(222, 28, 48, 1);
}

.table-link {
    display: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: rgba(222, 28, 48, 1);
}

p {
    margin: 0;
}

h1, h2 {
    margin: 0;
}

.mobile {
    display: none;
}

.container {
    max-width: 1312px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    padding-bottom: 10px;
}

header .container {
    width: min(1312px, 90vw);
    margin: 0;
}

.header-fixed {
    position: fixed;
    background: #fff;
    z-index: 99999;
}

header:not(.header-fixed) .header-fixed_visible,
.header-fixed .wrapp_logo img:not(.header-fixed_visible) {
    display: none;
}

.header-fixed .header-fixed_visible {
    display: block;
}

header .blocks {
    display: flex;
    padding-top: 20px;
}

header .blocks .wrapp_logo {
    flex: 0 0 200px;
}

header .blocks .wrapp_nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header:not(.header-fixed) .blocks .wrapp_nav .link {
    color: #fff;
}

.header-fixed .blocks .wrapp_nav .link {
    color: #000;
}

.header-fixed .blocks .wrapp_nav .link:hover {
    color: rgba(222, 28, 48, 1);
}

header .blocks .wrapp_nav .link {
    margin-right: 30px;
    font-weight: 500;
}


.investments {
    background: #de1c30;
    overflow: hidden;
}

.investments .container {
    position: relative;
}


.can-anim-appear {
    transform: translateY(30px);
    opacity: 0.75;
    transition: 1s ease-in-out;
}

.can-anim-appear_little {
    transform: translateY(15px);
    opacity: 0.75;
    transition: 1s ease-in-out;
}

.can-anim-appear_little.css-animate,
.can-anim-appear.css-animate {
    transform: translateY(0);
    opacity: 1;
}

.can-anim-bubble:first-child {
    transform: scale(0.5);
    transform-origin: center center;
    transition: 1s ease-in-out;
}

.can-anim-bubble.css-animate:first-child {
    transform: scale(1);
}

.investments .inv_txt_1 {
    font-size: 47px;
    color: #fff;
    padding-bottom: 115px;
}

.investments .inv_abs_txt_1 {
    position: absolute;
    top: 15px;
    left: 0;
    padding-bottom: 115px;
}

.investments .inv_abs_txt_1 h2 {
    font-size: 24px;
    font-weight: 500;
}

.investments .inv_txt_1 .txt_icon {
    width: 170px;
    vertical-align: middle;
}

.investments .white_block {
    position: relative;
    background-color: rgb(242, 243, 245);
}

.investments .white_block .inv_txt_2 {
    position: relative;
    overflow: hidden;
    background: var(--main-color);
}

.investments__anim-red {
    padding-left: 50px;
    padding-top: 50px;
    background-color: rgb(242, 243, 245);
}

.investments .white_block .inv_txt_2 .transform_block {
    transform: matrix(1.25867, 0, 0, 1.25867, 0, 0);
    background-color: rgb(242, 243, 245);
    border-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.investments .white_block .inv_txt_2 .blocks {
    position: relative;
    display: flex;
    align-items: center;
}

.investments .white_block .inv_txt_2 .blocks .left {
    flex: 1;
}

.investments .white_block .inv_txt_2 .blocks .left p {
    font-size: 24px;
}

.investments .white_block .inv_txt_2 .blocks .right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.investments .white_block .inv_txt_2 .blocks .right .txt {
    color: rgba(222, 28, 48, 1);
}

.investments .white_block .inv_txt_2 .blocks .right .txt .n {
    font-size: 120px;
    font-weight: 500;
}

.investments .white_block .inv_txt_2 .blocks .right .txt .t {
    font-size: 36px;
    font-weight: 500;
}

.investments .white_block .inv_txt_3 {
    margin-top: 130px;
}

.investments .white_block .inv_txt_3 .blocks {
    display: flex;
}

.investments .white_block .inv_txt_3 .blocks .left {
    width: 25%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: rgba(222, 28, 48, 1);
}

.investments .white_block .inv_txt_3 .blocks .right {
    width: 70%;
    padding-right: 10px;
    box-sizing: border-box;
}

.investments .white_block .inv_txt_3 .blocks .right .bl_1 {
    /*width: 105%;*/
}

.investments .white_block .inv_txt_3 .blocks .right .bl_1 p {
    font-size: 48px;
}

.investments .white_block .inv_txt_3 .blocks .right .bl_2 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: 50px;
}

.investments .white_block .inv_txt_3 .blocks .right .bl_2 .line {
    position: absolute;
    width: 60%;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid #000;
}

.investments .white_block .inv_txt_3 .blocks .right .bl_2 .txt_ {
    font-size: 24px;
    width: 35%;
    text-align: right;
}

.investments .white_block .inv_txt_3 .blocks .right .number {
    color: rgba(222, 28, 48, 1);
}

.investments .white_block .inv_txt_3 .blocks .right .number .n {
    font-size: 240px;
}

.investments .white_block .inv_txt_3 .blocks .right .number .t {
    font-size: 48px;
    font-weight: 500;
}
.investments .white_block .inv_txt_3 .blocks .right .number {
    padding-bottom: 20px;
}
.greenbonds {
    background-color: rgb(242, 243, 245);
    padding-top: 50px;
}

.greenbonds .b_1 {
}

.greenbonds .b_1 .blocks {
    display: flex;
}

.greenbonds .b_1 .blocks .left {
    width: 25%;
    flex-shrink: 0;
}

.greenbonds .b_1 .blocks .left p {
    font-size: 24px;
    color: rgba(222, 28, 48, 1);
    font-weight: 500;
}

.greenbonds .b_1 .blocks .right {
}

.greenbonds .b_1 .blocks .right .txt_1 {
    font-size: 48px;
}

.greenbonds .b_1 .blocks .right .txt_2 {
    font-size: 18px;
    margin: 15px 0 40px 0;
}

.greenbonds .b_1 .blocks .right .txt_3 {
    font-size: 24px;
}


.greenbonds {
    width: 100vw;
    overflow-x: hidden;
}

.greenbonds .b_2 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.greenbonds .b_2 .blocks {
    display: flex;
}

.greenbonds .b_2 .blocks .left {
    width: 25%;
    flex-shrink: 0;
}

.greenbonds .b_2 .blocks .right {
    width: 50%;
}

.greenbonds__electrobus {
    position: absolute;
    width: 44vw;
    right: -22vw;
    margin-top: -1vw;

}


.greenbonds .b_2 .blocks .right h2 {
    font-size: 80px;
    color: rgba(222, 28, 48, 1);
    font-weight: 400;
}

.greenbonds .b_2 .blocks .right .wg_1 {
    display: flex;
    margin-top: 50px;
}

.greenbonds .b_2 .blocks .right .wg_1 .wrapp_img {
    width: 33%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.greenbonds .b_2 .blocks .right .wg_1 .wrapp_img svg {
    width: 119px;
    height: 119px;
}

.greenbonds .b_2 .blocks .right .wg_1 .wrapp_txt {
    font-size: 24px;
}

.greenbonds .b_2 .blocks .right .wg_2 {
    font-size: 24px;
    margin-top: 70px;
    display: flex;
}

.greenbonds .b_2 .blocks .right .wg_2 .line {
    flex: 1;
    display: block;
    border-bottom: 2px solid #000;
    margin-bottom: 4px;
    margin-left: 20px;
}


.greenbonds .b_2 .blocks .right .wg_3 {
    margin-top: 50px;
}

.greenbonds .b_2 .blocks .right .wg_3 .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.greenbonds .b_2 .blocks .right .wg_3 .items .item {
}

.greenbonds .b_2 .blocks .right .wg_3 .items .item .h_ {

}

.greenbonds .b_2 .blocks .right .wg_3 .items .item .h_ .n {
    font-size: 48px;
}

.greenbonds .b_2 .blocks .right .wg_3 .items .item .h_ .t {
    font-size: 24px;
}

.greenbonds .b_2 .blocks .right .wg_3 .items .item .txt {
    margin-top: 10px;
}

.greenbonds .b_3 .blocks {
    display: flex;
}

.greenbonds .b_3 .blocks .left {
    width: 25%;
    flex-shrink: 0;
}

.greenbonds .b_3 .blocks .right h2 {
    font-size: 80px;
    color: rgba(222, 28, 48, 1);
    font-weight: 400;
    margin-bottom: 30px;
}

.greenbonds .b_3 .blocks .right .wg_1 {
    display: flex;
}

.greenbonds .b_3 .blocks .right .wg_1 .w_left {
    width: 67%;
    flex-shrink: 0;
}

.greenbonds .b_3 .blocks .right .wg_1 .w_left .wrapp_txt {
    font-size: 24px;
}

.greenbonds .b_3 .blocks .right .wg_1 .w_left .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 30px;
}

.greenbonds .b_3 .blocks .right .wg_1 .w_left .items .item {
    padding-right: 70px;
}

.greenbonds .b_3 .blocks .right .wg_1 .w_left .items .item .h_ {
}

.greenbonds .b_3 .blocks .right .wg_1 .w_left .items .item .h_ .n {
    font-size: 48px;
}

.greenbonds .b_3 .blocks .right .wg_1 .w_left .items .item .h_ .t {
    font-size: 24px;
}

.greenbonds .b_3 .blocks .right .wg_1 .w_left .items .item .txt {
}


.greenbonds .b_3 .blocks .right .wg_1 .w_right {
    position: relative;
    width: 33%;
    margin-left: 50px;
    overflow: hidden;
}

.metro-logo-anim {
    position: absolute;
    z-index: 10;
    width: 101%;
    height: 101%;
    background: rgb(242, 243, 245);
    border-radius: 0 0 100% 0;
}

/*.greenbonds .b_3 .blocks .right .wg_2 .w_img {
    width: 72%;
}*/
.metro-photo-anim {
    max-width: 100vw;
}

.moscow {
    position: relative;
    /*background: #f2f3f5;*/
    padding-top: 150px;
    padding-bottom: 150px;
}

.moscow .bl_1 .blocks {
    display: flex;
}

.moscow__sticky {
    position: sticky;
    width: 25%;
    height: 2em;
    top: 25%;
    font-size: 24px;
    flex-shrink: 0;
}

.moscow .bl_1 .blocks .left p {
    text-align: center;
    font-size: 24px;
    color: rgba(222, 28, 48, 1);
    font-weight: 500;
}

.moscow .bl_1 .wg_1 .content {
    max-width: 800px;
    /*margin-left: 25%;*/
}

.moscow .bl_1 .wg_1 .content .txt {
    font-size: 80px;
}

.moscow .bl_1 .wg_2 {
    margin-top: 300px;
}

.moscow .bl_1 .wg_2 .content {
    max-width: 850px;
    /*margin-left: 25%;*/
}

.moscow .bl_1 .wg_2 .content .txt {
    font-size: 80px;
}

.moscow__background {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    background-color: #333333;
    background-image: url("../img/moscow-bg.webp");
    background-position: top 0 right -30%;
    background-repeat: no-repeat;
    background-size: 50%;
}

.moscow .bl_1 .wg_3 {
    color: #fff;
    margin-top: 300px;
}

.moscow .bl_1 .wg_3 .content {
    max-width: 800px;
    /*margin-left: 25%;*/
}

.moscow .bl_1 .wg_3 .content {
}

.moscow .bl_1 .wg_3 .content .w_txt .txt {
    font-size: 80px;
}

.moscow .bl_1 .wg_4 {
    color: #fff;
    margin-top: 100px;
}

.moscow .bl_1 .wg_4 .blocks {
    display: flex;
    align-items: center;
}

.moscow .bl_1 .wg_4 .blocks .left {
    position: absolute;
    left: 0;
    width: 40%;
    display: flex;
    align-items: center;
}

.moscow .bl_1 .wg_4 .blocks .right {
    margin-left: auto;
}

.moscow .bl_1 .wg_4 .blocks .right .w_txt .txt {
    font-size: 120px;
    color: rgba(222, 28, 48, 1);
}

.moscow .bl_1 .wg_4 .blocks .right .w_txt .txt_2 {
    font-size: 24px;
}

.moscow .bl_2 {
    color: #fff;
    margin-top: 215px;
}

.moscow .bl_2 .wg_1 {
    margin-bottom: 100px;
}

.moscow .bl_2 .wg_1 .w_txt {
    max-width: 900px;
    margin-left: 25%;
}

.moscow .bl_2 .wg_1 .w_txt .txt {
    font-size: 80px;
}

.moscow .bl_2 .wg_2 {
    margin-bottom: 80px;
}

.moscow .bl_2 .wg_2 .w_txt {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffff;
    width: max-content;
}

.moscow .bl_2 .wg_2 .w_txt .txt {
}

.moscow .bl_2 .wg_2 .w_txt .txt .n {
    font-size: 120px;
    font-weight: 500;
    color: rgba(222, 28, 48, 1);
}

.moscow .bl_2 .wg_2 .w_txt .txt .t {
    font-size: 36px;
    font-weight: 500;
    color: rgba(222, 28, 48, 1);
}

.moscow .bl_2 .wg_2 .w_txt .txt_2 {
    font-size: 24px;
    text-align: right;
}

.moscow .bl_2 .wg_3 .w_txt {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffff;
    width: max-content;
    margin-left: auto;
}

.moscow .bl_2 .wg_3 .w_txt .txt {
}

.moscow .bl_2 .wg_3 .w_txt .txt .n {
    font-size: 120px;
    font-weight: 500;
    color: rgba(222, 28, 48, 1);
}

.moscow .bl_2 .wg_3 .w_txt .txt .t {
    font-size: 36px;
    font-weight: 500;
    color: rgba(222, 28, 48, 1);
}

.moscow .bl_2 .wg_3 .w_txt .txt_2 {
    font-size: 24px;
    text-align: right;
}

.moscow .bl_3 {
    color: #fff;
    margin-top: 150px;
}

.moscow .bl_3 .wg_1 .w_txt .txt {
    font-size: 24px;
    color: rgba(222, 28, 48, 1);
    font-weight: 500;
}

.moscow .bl_3 .wg_2 {
    margin-bottom: 60px;
    margin-top: 135px;
}

.moscow .bl_3 .wg_2 .w_items {
    display: flex;
    max-width: 65%;
    margin: 0 auto;
}

.moscow .bl_3 .wg_2 .w_items .item {
    width: 50%;
    display: flex;
    justify-content: center;
}

.moscow .bl_3 .wg_2 .w_items .item .content {
    max-width: 320px;
    position: relative;
}

.moscow .img_block {
    position: relative;
    box-sizing: border-box;
    width: 320px;
    height: 320px;
    border: 31px solid #525252;
    border-radius: 100%;
}

.moscow__chart {
    position: absolute;
    z-index: 4;
    left: -31px;
    top: -31px;
    width: 161px;
    height: 320px;
    background: #525252;
    border-radius: 161px 0 0 161px;
}

.moscow__chart::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    width: 260px;
    height: 260px;
    border-radius: 100%;
    top: 30px;
    left: 30px;
    background: #333;
}

.moscow__chart-line {
    position: absolute;
    z-index: 2;
    left: -30px;
    top: -30px;
    width: 159px;
    height: 318px;
    overflow: hidden;
    background: var(--main-color);
    border-radius: 159px 0 0 159px;
    transform-origin: right;
}

.moscow .bl_3 .wg_2 .w_items .item .content .txt_block {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 64%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.moscow .bl_3 .wg_2 .w_items .item .content .txt_block .n {
    font-size: 48px;
}

.moscow .bl_3 .wg_2 .w_items .item .content .txt_block .t {
}

.moscow .bl_3 .wg_3 .w_items {
    display: flex;
}

.moscow .bl_3 .wg_3 .w_items .item {
    width: 50%;
    display: flex;
    justify-content: center;
}

.moscow .bl_3 .wg_3 .w_items .item .content {
    max-width: 318px;
    position: relative;
}

.moscow .bl_3 .wg_3 .w_items .item .content .img_block {
}

.moscow .bl_3 .wg_3 .w_items .item .content .txt_block {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 64%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.moscow .bl_3 .wg_3 .w_items .item .content .txt_block .n {
    font-size: 48px;
}

.moscow .bl_3 .wg_3 .w_items .item .content .txt_block .t {
}

.rating .bl_1 {
    background: #de1c30;
    padding-top: 80px;
    padding-bottom: 115px;
}

.rating .bl_1 .wg_1 .txt_w {
    max-width: 1050px;
    margin: 0 auto;
    position: relative;
}

.rating .bl_1 .wg_1 .txt_w img {
    width: 59px;
    position: absolute;
    left: 0;
    top: 0;
}

.rating .bl_1 .wg_1 .txt_w p {
    font-size: 48px;
    white-space: pre-wrap;
    color: #fff;
    line-height: 60px;
}

.rating .bl_1 .wg_2 {
    margin-top: 150px;
}

.rating .bl_1 .wg_2 .widgets {
    display: flex;
}

.rating .bl_1 .wg_2 .widgets .txt_w_1 {
    margin-right: 60px;
}

.rating .bl_1 .wg_2 .widgets .txt_w_1 .txt {
    font-size: 18px;
    text-transform: uppercase;
}

.rating .bl_1 .wg_2 .widgets .txt_w_2 {
    max-width: 740px;
}

.rating .bl_1 .wg_2 .widgets .txt_w_2 .txt {
    font-size: 48px;
    color: #fff;
}

.rating .bl_1 .wg_2 .widgets .txt_w_3 {
    min-width: 14em;
}

.rating .bl_1 .wg_2 .widgets .txt_w_3 .txt {
    color: #fff;
    font-weight: 500;
}

.rating .bl_1 .wg_2 .widgets .txt_w_3 .txt .n {
    font-size: 210px;
}

.rating .bl_1 .wg_2 .widgets .txt_w_3 .txt .t {
    font-size: 120px;
}

.rating .bl_1 .wg_3 .widgets {
    display: flex;
    align-items: center;
    max-width: 1450px
}

.rating .bl_1 .wg_3 .widgets .left {
    transform: scaleX(0.5);
    transform-origin: left;
    transition: 1s ease-in-out;
    padding-top: 45px;
    padding-right: 65px;
}

.rating .bl_1 .wg_3 .widgets .left.css-animate {
    transform: scaleX(1);
}

.rating .bl_1 .wg_3 .widgets .right {
}

.rating .bl_1 .wg_3 .widgets .right .txt {
    display: flex;
    font-size: 210px;
    color: #fff;
    font-weight: 500;
}

.rating__place-letter {
    display: block;
    overflow: hidden;
}

.rating__place-letter span {
    display: block;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.rating__place-letter span.rating__visible-letter {
    transform: translateX(0);
}

.rating .bl_1 .wg_4 .widgets {
    display: flex;
}

.rating .bl_1 .wg_4 .widgets .left {
    width: 54%;
}

.rating .bl_1 .wg_4 .widgets .right {
    width: 46%;
    padding-right: 30px;
    box-sizing: border-box;
}

.rating .bl_1 .wg_4 .widgets .right .txt {
    color: #fff;
    font-size: 24px;
}

.rating .bl_2 {
    background: rgb(242, 243, 245);
    padding-top: 100px;
    padding-bottom: 100px;
}

.rating .bl_2 .wg_1 .widgets {
    display: flex;
}

.rating .bl_2 .wg_1 .widgets .l_w {
    width: 25%;
}

.rating .bl_2 .wg_1 .widgets .l_w .w_txt_1 {
    font-size: 24px;
    color: #de1c30;
    font-weight: 500;
}

.rating .bl_2 .wg_1 .widgets .r_w {
    flex: 1;
}

.rating .bl_2 .wg_1 .widgets .r_w .w_txt_1 {
    margin-bottom: 80px;
}

.rating .bl_2 .wg_1 .widgets .r_w .w_txt_1 .txt {
    font-size: 48px;
    font-weight: 400;
}

.rating .bl_2 .wg_1 .widgets .r_w .w_items .item:first-child {
    border-top: 1px solid #000;
}

.rating .bl_2 .wg_1 .widgets .r_w .w_items .item {
    display: flex;
    padding: 40px 0 40px 0;
    border-bottom: 1px solid #000;
}

.rating .bl_2 .wg_1 .widgets .r_w .w_items .item .txt_block {
    flex: 1;
}

.rating .bl_2 .wg_1 .widgets .r_w .w_items .item .txt_block .txt_1 {
    font-size: 120px;
    font-weight: 500;
}

.rating .bl_2 .wg_1 .widgets .r_w .w_items .item .txt_block .txt_2 {
    font-size: 24px;
}

.rating .bl_2 .wg_1 .widgets .r_w .w_items .item .txt_block .txt_3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.rating .bl_2 .wg_1 .widgets .r_w .w_items .item .img_block {
    overflow: hidden;
}

.rating .bl_2 .wg_1 .widgets .r_w .w_items .item .img_block img {
    transform: translateY(-100%);
    transition: 1s ease-in-out;
}

.rating .bl_2 .wg_1 .widgets .r_w .w_items .item .img_block.css-animate img {
    transform: translateY(0);
}

.rating .bl_2 .wg_2 {
    margin-top: 150px;
}

.rating .bl_2 .wg_2 .widgets {
    display: flex;
}

.rating .bl_2 .wg_2 .widgets .l_w {
    width: 25%;
}

.rating .bl_2 .wg_2 .widgets .l_w .w_txt {
    font-size: 24px;
    color: #de1c30;
    font-weight: 500;
}

.rating .bl_2 .wg_2 .widgets .r_w {
    flex: 1;
}

.rating .bl_2 .wg_2 .widgets .r_w .w_txt_1 {
    font-size: 48px;
    margin-top: 10px;
}

.rating .bl_2 .wg_2 .widgets .r_w .w_txt_2 {
    font-size: 24px;
}

.rating .bl_2 .wg_3 {
    margin-top: 70px
}

.rating .bl_2 .wg_3 .widgets {
    display: flex;
}

.rating .bl_2 .wg_3 .widgets .l_w {
    width: 25%;
    display: flex;
    align-items: flex-end;
}

.rating .bl_2 .wg_3 .widgets .l_w .w_link {
    font-size: 24px;
    color: #de1c30;
    font-weight: 400;
    text-decoration: underline;
}

.rating .bl_2 .wg_3 .widgets .r_w {
    flex: 1;
    display: flex;
}

.rating .bl_2 .wg_3 .widgets .r_w .w_item {
    font-size: 24px;
    padding-left: 60px;
    width: 40%;
    position: relative;
}

.rating .bl_2 .wg_3 .widgets .r_w .w_item:before {
    content: '';
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    left: 0;
    border-radius: 50%;
}

.rating .bl_2 .wg_3 .widgets .r_w .w_item_1:before {
    background: #000;
}

.rating .bl_2 .wg_3 .widgets .r_w .w_item_2:before {
    background: #de1c30;
}

.rating .bl_2 .wg_4 {
    margin-top: 70px;
}

.information {
    background: #333333;
    padding-top: 150px;
}

.information .bl_1 .wg_1 .widgets {
    display: flex;
}

.information .bl_1 .wg_1 .widgets .l_w {
    width: 23%;
    flex-shrink: 0;
}

.information .bl_1 .wg_1 .widgets .l_w .w_txt {
    font-size: 24px;
    color: #de1c30;
    font-weight: 500;
}

.information .bl_1 .wg_1 .widgets .r_w {
}

.information .bl_1 .wg_1 .widgets .r_w .txt_w_1 {
    font-size: 48px;
    color: #fff;
}

.information .bl_1 .wg_1 .widgets .r_w .txt_w_2 {
    font-size: 24px;
    color: #fff;
    margin-top: 50px;
}

.information .bl_1 .wg_1 .widgets .r_w .items_w {
    max-width: 80%;
    margin-top: 100px;
}

.information .bl_1 .wg_1 .widgets .r_w .items_w .item {
    display: flex;
    margin-bottom: 30px;
}

.information .bl_1 .wg_1 .widgets .r_w .items_w .item .name {
    font-size: 24px;
    color: #fff9;
    font-weight: 500;
    margin-right: 60px;
    width: 20%;
}

.information .bl_1 .wg_1 .widgets .r_w .items_w .item .bar {
    flex: 1;
}

.information .bl_1 .wg_1 .widgets .r_w .items_w .item .bar span {
    display: block;
    background: #fff9;
    height: 100%;
}

.information .bl_1 .wg_1 .widgets .r_w .items_w .item-highlighted .bar span {
    background: #fff;
}


.information .bl_1 .wg_1 .widgets .r_w .items_w .item .number {
    font-size: 24px;
    color: #fff9;
    font-weight: 500;
}

.information .bl_1 .wg_1 .widgets .r_w .items_w .item-highlighted .name,
.information .bl_1 .wg_1 .widgets .r_w .items_w .item-highlighted .number {
    color: #fff;
}

.information .bl_2 {
    margin-top: 150px;
}

.information .bl_2 .wg_1 .widgets {
    display: flex;
}

.information .bl_2 .wg_1 .widgets .l_w {
    width: 25%;
    flex-shrink: 0;
}

.information .bl_2 .wg_1 .widgets .l_w .w_txt {
    font-size: 24px;
    color: #de1c30;
    font-weight: 500;
}

.information .bl_2 .wg_1 .widgets .r_w .txt_w_1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 80px;
}

.information .bl_2 .wg_1 .widgets .r_w .group_w {
    overflow: hidden;
    padding: 20px;
    background: #fff;
    max-width: 757px;
    position: relative;
}

.information .bl_2 .wg_1 .widgets .r_w .group_w .w_txt_1 {
    font-size: 24px;
    max-width: 65%;
}

.information .bl_2 .wg_1 .widgets .r_w .group_w .w_txt_2 {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    margin-top: 45%;
}

.information .bl_2 .wg_1 .widgets .r_w .group_w .w_txt_2 .n {
    display: flex;
    font-size: 120px;
}


.information .bl_2 .wg_1 .widgets .r_w .group_w .w_txt_2 .t {
    display: flex;
    font-size: 64px;
    padding-bottom: 12px;
}

.info__sup-letter {
    display: block;
    overflow: hidden;
}

.info__sup-letter span {
    display: block;
    transform: translateY(100%);
    transition: .5s ease-in-out;
}

.info__sup-letter span.info__visible-letter {
    transform: translateX(0);
}

.information .bl_2 .wg_1 .widgets .r_w .group_w .w_img {
    position: absolute;
    top: -36px;
    width: 50%;
    right: -112px;
}

.information .bl_3 {
    margin-top: 115px;
}

.information .bl_3 .wg_1 .txt_w {
    margin-bottom: 50px;
}

.information .bl_3 .wg_1 .txt_w .txt_1 {
    font-size: 24px;
    color: #de1c30;
    font-weight: 500;
}

.information .bl_3 .wg_1 .txt_w .txt_2 {
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
}

.information .bl_3 .wg_1 .table_w {
}

.information .bl_3 .wg_1 .table_w .row_t:first-child {
    border-top: 1px solid #fff;
}

.information .bl_3 .wg_1 .table_w .row_t:last-child {
    border-bottom: none;
}

.information .bl_3 .wg_1 .table_w .row_t {
    display: flex;
    font-size: 24px;
    padding: 30px 0;
    border-bottom: 1px solid #fff;
}

.information .bl_3 .wg_1 .table_w .row_t .i_1 {
    font-size: 24px;
    color: #fff;
    width: 41%;
}

.information .bl_3 .wg_1 .table_w .row_t .i_2 {
    color: #fff;
    width: 19%;
    text-align: right;
}

.information .bl_3 .wg_1 .table_w .row_t .i_3 {
    color: #fff;
    width: 19%;
    text-align: right;
}

.information .bl_3 .wg_1 .table_w .row_t .i_4 {
    color: #fff;
    width: 19%;
    text-align: right;
}

.burger {
    display: none;
}

@media screen and (max-width: 1435px) {
    header .container, .container {
        max-width: max(700px, 90vw);
    }

    header .blocks .wrapp_nav .link {
        margin-right: 20px;
    }

    .investments .white_block .inv_txt_2 {
        background: 0;
    }

    .investments .white_block .inv_txt_3 .blocks .left {
        text-align: left;
        margin-bottom: 30px;
    }

    .investments .white_block .inv_txt_3 .blocks .right {
        padding-right: 5vw;
        width: 80vw;
    }

    .investments .white_block .inv_txt_3 .blocks .right .number .n {
        font-size: 130px;
    }

    .investments .white_block .inv_txt_3 .blocks .right .number {
        margin-top: 30px;
    }

    .greenbonds .right {
        margin-left: 10px;
    }

    .greenbonds .b_2 .blocks .right {
        width: auto;
    }

    .greenbonds .b_3 .blocks .right .wg_1 {
        display: block;
    }

    .greenbonds .b_3 .blocks .right .wg_1 .w_left {
        width: auto;
        padding-bottom: 30px;
    }

    .greenbonds .b_2 {
        margin-top: 100px;
    }

    .greenbonds .b_3 .blocks .right .wg_1 .w_right {
        display: none;
    }

    .greenbonds .wg_2 .w_img {
        margin-top: 30px;
        width: 70%;
    }

    .moscow {
        padding: 100px 0;
    }

    .moscow__background {
        background-size: 40%;
        background-position: top 0 right -30%;
    }

    .moscow .bl_1 .wg_1 .content,
    .moscow .bl_1 .wg_2 .content,
    .moscow .bl_1 .wg_3 .content {
        margin: auto auto auto 0;
        max-width: 800px;
    }

    .moscow .bl_1 .wg_1,
    .moscow .bl_1 .wg_2,
    .moscow .bl_1 .wg_3 {
        margin-top: 100px;
    }

    .moscow .bl_1 .wg_4 .blocks .left {
        display: none;
    }

    .moscow .bl_1 .wg_4 .blocks .right {
        width: 700px;
        margin: auto;
        flex: none;
    }

    .moscow .bl_2 .wg_1 .w_txt {
        margin: auto;
    }

    .moscow .bl_2 {
        margin-top: 100px;
    }

    .moscow .bl_3 {
        margin-top: 100px;
    }


    .moscow .bl_3 .wg_2 .w_items {
        max-width: 80%;
    }

    .moscow .bl_3 .wg_2 {
        margin-top: 100px;
    }

    .moscow .bl_3 .wg_1 {
        text-align: center;
    }


    .rating .bl_1 .wg_2 .widgets .txt_w_1 {
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .rating .bl_1 .wg_3 .widgets {
        justify-content: center;
    }

    .rating .bl_1 .wg_2 .widgets .txt_w_3 .txt {
        text-align: center;
    }


    .investments .white_block .inv_txt_3 .blocks .left {
        width: 25%;
    }

    .investments .white_block .inv_txt_3 .blocks .right .bl_1 p,
    .greenbonds .b_1 .blocks .right .txt_1,
    .rating .bl_1 .wg_1 .txt_w p,
    .rating .bl_1 .wg_2 .widgets .txt_w_2 .txt,
    .rating .bl_2 .wg_2 .widgets .r_w .w_txt_1 {
        font-size: 40px;
    }

    .investments .white_block .inv_txt_3 .blocks .left,
    .greenbonds .b_1 .blocks .left p,
    .rating .bl_2 .wg_1 .widgets .l_w .w_txt_1,
    .rating .bl_2 .wg_2 .widgets .l_w .w_txt,
    .rating .bl_2 .wg_3 .widgets .l_w .w_link,
    .information .bl_1 .wg_1 .widgets .l_w .w_txt,
    .information .bl_2 .wg_1 .widgets .l_w .w_txt,
    .information .bl_3 .wg_1 .txt_w .txt_1 {
        margin-top: 10px;
        font-size: 18px;
    }

    .rating .bl_2 .wg_3 .widgets .l_w .w_link {
        position: absolute;
    }

    .information .bl_1 .wg_1 .widgets .r_w .items_w .item .name {
        margin-right: 90px;
    }


    .information .bl_1 .wg_1 .widgets .r_w .items_w {
        max-width: 100%;
    }

    .information .bl_3 .wg_1 {
        position: relative;
    }

    .table_w {
        /*transform: translateX(calc(350px - 49vw));*/
        /*width: 98vw;*/
        background-color: #333;
    }

    .rating .bl_1 .wg_3 .widgets .left {
    }

    .information .bl_3 .wg_1 .table_w .row_t .i_1 {
        padding-left: 5px;
    }

    .moscow .bl_1 .wg_1 .content .txt,
    .moscow .bl_1 .wg_2 .content .txt,
    .moscow .bl_1 .wg_3 .content .w_txt .txt {
        font-size: 60px;
    }

    .rating .bl_2 .wg_2 {
        margin-top: 100px;
    }

    .information {
        padding-top: 100px;
    }

    .information .bl_3 .wg_1 .txt_w {
        padding-bottom: 50px;
        margin-bottom: 0;
    }

    .rating .bl_2 .wg_2 .widgets .r_w .w_txt_1 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .greenbonds__electrobus {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .moscow .bl_3 .wg_3 .w_items {
        flex-direction: column;
        align-items: center;
    }

    .moscow .bl_3 .wg_2 .w_items {
        flex-direction: column;
        align-items: center;
    }
    .moscow .bl_3 .wg_2 .w_items .item:not(:last-child) {
        margin-bottom: 50px;
    }
    .moscow .bl_3 .wg_3 .w_items .item:not(:last-child) {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 945px) {
    body {
        overflow-x: hidden;
    }
    header .container, .container {
        max-width: min(700px, 90vw);
    }

    .rating .bl_1 .wg_3 .widgets .left {
        display: none;
    }

    .rating .bl_1 .wg_4 .widgets .right {
        width: auto;
        padding: 0;
        text-align: center;
    }

    .moscow__sticky {
        position: static;
    }
    .moscow .bl_1 .blocks,
    .greenbonds .b_3 .blocks,
    .greenbonds .b_1 .blocks,
    .greenbonds .b_2 .blocks,
    .rating .bl_2 .wg_2 .widgets,
    .rating .bl_1 .wg_4 .widgets,
    .rating .bl_1 .wg_2 .widgets,
    .information .bl_1 .wg_1 .widgets,
    .rating .bl_1 .wg_2 .widgets,
    .rating .bl_2 .wg_1 .widgets,
    .information .bl_2 .wg_1 .widgets {
        display: block;
    }

    .greenbonds .b_2 .blocks .right {
        width: auto;
    }

    .greenbonds .b_3 .blocks .right .wg_1 .w_left {
        width: 100%;
    }

    .moscow .bl_2 .wg_1 .w_txt {
        max-width: 100vw;
    }

    .moscow .bl_3 .wg_2 .w_items .item {
        width: auto;
    }

    .moscow .bl_3 .wg_3 .w_items .item {
        width: auto;
    }
    .moscow .bl_1 .wg_4 .blocks .right .w_txt .txt {
        font-size: 90px;
    }
    .moscow .bl_1 .wg_4 .blocks .right .w_txt .txt_2 {
        font-size: 20px;
    }

    .investments .white_block .inv_txt_3 .blocks {
        display: block;
        margin: auto;
    }

    .investments .white_block .inv_txt_3 .blocks .left {
        width: auto;
        text-align: left;
        margin-bottom: 30px;
    }

    .investments .white_block .inv_txt_3 .blocks .right {
        padding: 0;
        width: 100%;
    }

    .greenbonds .right {
        margin-left: 0;
    }

    .rating .bl_2 .wg_1 .widgets .l_w,
    .information .bl_1 .wg_1 .widgets .l_w,
    .information .bl_2 .wg_1 .widgets .l_w,
    .rating .bl_1 .wg_4 .widgets .right,
    .investments .white_block .inv_txt_3 .blocks .left,
    .greenbonds .b_1 .blocks .left p,
    .rating .bl_2 .wg_1 .widgets .l_w .w_txt_1,
    .rating .bl_2 .wg_2 .widgets .l_w .w_txt,
    .rating .bl_2 .wg_3 .widgets .l_w .w_link,
    .greenbonds .b_1 .blocks .left,
    .information .bl_1 .wg_1 .widgets .l_w .w_txt,
    .rating .bl_2 .wg_2 .widgets .l_w,
    .information .bl_2 .wg_1 .widgets .l_w .w_txt,
    .information .bl_3 .wg_1 .txt_w .txt_1 {
        width: auto;
        margin-bottom: 30px;
        font-size: 24px;
    }

    .rating__place-letter span {
        transform: translateX(0);
    }


    .main_nav {
        display: none;
        z-index: 4;
    }

    .main_nav_active {
        display: block !important;
        padding: 20px;
        z-index: 99999;
    }

    .header-fixed .main_nav_active {
        margin-top: 60px;
        background: #fff;
    }

    .main_nav {
        position: fixed;
        top: 30px;
    }

    header .blocks .wrapp_nav .link {
        display: block;
        text-align: right;
        margin: 0;
    }

    header .blocks .wrapp_nav .link:not(:last-child) {
        margin-bottom: 12px;
    }

    .back_active {
        position: fixed;
        z-index: 99999;
        background: #000;
        opacity: .5;
        width: 100vw;
        height: 100vh;
    }

    header .blocks .wrapp_nav .link {
        transition: opacity .3s ease;
    }

    header .blocks .wrapp_nav .link:hover {
        opacity: .8;
    }

    .burger {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    .burger span {
        display: block;
        width: 25px;
        height: 2px;
        border-radius: 3px;
        background-color: #fff;
    }

    .header-fixed .burger span {
        background: #000;
    }

    .burger span:not(:last-child) {
        margin-bottom: 5px;
    }

    header .blocks .wrapp_nav {
        justify-content: flex-end;
    }

    .table_w {
        display: none;
    }

    .table-link {
        display: block;
        margin-top: 15px;
        font-size: 16px;
        color: #de1c30;
        text-decoration: underline;
    }

    .information .bl_2 .wg_1 .widgets .r_w .group_w .w_img {
        /*display: none;*/
    }
}

@media screen and (max-width: 900px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .investments .inv_txt_1 {
        font-size: 25px;
    }

    .investments__anim-red {
        padding: 0;
    }

    .investments .white_block .inv_txt_2 .blocks .right .txt {
        margin-bottom: 10px;
    }

    .investments {
        margin-top: -1px;
    }

    .investments .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .investments .inv_abs_txt_1 {
        position: static;
        padding: 15px 0;
    }

    .investments .white_block .inv_txt_2 .blocks {
        /*display: block;*/
        flex-direction: column-reverse;
    }

    .investments .white_block .inv_txt_2 .blocks .right .txt .n {
        font-size: 71px;
    }

    .investments .inv_txt_1 .txt_icon {
        margin-top: 30px;
        width: 300px;
    }

    .investments .white_block {
        padding-top: 40px;
    }

    .investments .white_block .inv_txt_2 .blocks .left p {
        font-size: 18px;
    }

    .investments .white_block .inv_txt_3 .blocks {
        width: inherit;
    }

    .investments .white_block .inv_txt_3 .blocks .right .bl_1 p {
        font-size: 24px;
    }

    .investments .white_block .inv_txt_3 .blocks .right .bl_2 .line {
        display: none;
    }

    .investments .white_block .inv_txt_3 .blocks .right .bl_2 .txt_ {
        width: 100%;
        text-align: left;
        font-size: 18px;
    }

    .investments .white_block .inv_txt_3 .blocks .right .number .t {
        font-size: 24px;
    }

    .investments .white_block .inv_txt_3 .blocks .right .number .n {
        font-size: 80px;
    }

    .greenbonds .b_1 .blocks .right .txt_1 {
        font-size: 24px;
    }

    .greenbonds .b_1 .blocks .right .txt_3 {
        font-size: 18px;
    }

    .greenbonds .b_1 .blocks .right .txt_2 {
        margin-bottom: 15px;
    }

    .greenbonds .b_2 .blocks .right h2 {
        font-size: 36px;
    }

    .greenbonds .b_2 .blocks .right .wg_1 {
        display: block;
    }

    .greenbonds .b_2 .blocks .right .wg_1 .wrapp_img {
        margin-bottom: 20px;
    }

    .greenbonds .b_2 .blocks .right .wg_2 .line {
        display: none;
    }

    .greenbonds .b_2 .blocks .right .wg_3 .items {
        display: block;
    }

    .greenbonds .b_2 .blocks .right .wg_3 .items .item:not(:last-child) {
        margin-bottom: 30px;
    }

    .greenbonds .b_3 .blocks .right h2 {
        font-size: 36px;
    }

    .greenbonds .b_3 .blocks .right .wg_1 .w_left .wrapp_txt {
        font-size: 18px;
    }

    .greenbonds .b_3 .blocks .right .wg_1 .w_left .items {
        display: block;
    }

    .greenbonds .b_3 .blocks .right .wg_1 .w_left .items .item:not(:last-child) {
        margin-bottom: 30px;
    }

    .bl_1 .wg_1 .content .txt, .moscow .bl_1 .wg_2 .content .txt, .moscow .bl_1 .wg_3 .content .w_txt .txt {
        font-size: 30px !important;
    }

    .moscow .bl_1 .wg_4 .blocks .right .w_txt .txt {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .wg_4 .w_txt {
        max-width: 70vw;
    }

    .moscow .bl_2 .wg_1 .w_txt .txt {
        font-size: 36px;
    }


    .moscow .bl_2 .wg_2 {
        margin-bottom: 40px;
    }

    .moscow .bl_2 .wg_2 .w_txt {
        display: block;
        padding-bottom: 40px;
    }

    .rating .bl_1 .wg_1 .txt_w p {
        line-height: 125%;
    }

    .moscow .bl_2 .wg_2 .w_txt .txt_2 {
        text-align: left;
        max-width: 95vw;
    }

    .moscow .bl_2 .wg_1 {
        margin-bottom: 50px;
    }

    .moscow .bl_2 .wg_2 .w_txt .txt {
        margin: 0 auto;
    }

    .moscow .bl_2 .wg_3 .w_txt {
        display: block;
        margin: 0;
        padding-bottom: 20px;
    }

    .moscow .bl_2 .wg_2 .w_txt .txt .n,
    .moscow .bl_2 .wg_3 .w_txt .txt .n {
        font-size: 90px;
    }

    .moscow .bl_2 .wg_3 .w_txt .txt_2 {
        text-align: left;
        max-width: 95vw;
    }

    .moscow .bl_2 .wg_3 .w_txt .txt {
        margin: 0 auto;
    }

    .moscow .bl_3 .wg_1 .w_txt .txt {
        text-align: left;
    }

    .moscow .bl_3 .wg_2 .w_items {
        max-width: 100%;
    }

    .moscow .bl_3 .wg_2 {
        margin-top: 50px;
    }

    .rating .bl_1 .wg_1 .txt_w p {
        font-size: 24px;
        white-space: normal;
        padding-top: 80px;
    }

    .rating .bl_1 .wg_2 {
        margin-top: 75px;
    }

    .rating .bl_1 .wg_2 .widgets .txt_w_2 .txt {
        font-size: 24px;
    }

    .rating .bl_1 .wg_2 .widgets .txt_w_3 .txt .n {
        font-size: 100px;
    }

    .rating .bl_1 .wg_2 .widgets .txt_w_3 .txt .t {
        font-size: 80px;
    }

    .rating .bl_1 .wg_2 .widgets .txt_w_3 .txt {
        margin-top: 30px;
    }

    .rating .bl_1 .wg_3 .widgets .right .txt {
        font-size: 100px;
    }

    .rating .wg_4 {
        margin-top: 30px;
    }

    .rating .bl_1 .wg_4 .widgets .right .txt {
        font-size: 18px;
    }

    .rating .bl_2 .wg_1 .widgets .r_w .w_txt_1 .txt {
        font-size: 36px;
    }

    .rating .bl_2 .wg_1 .widgets .r_w .w_items .item .txt_block .txt_1 {
        font-size: 80px;
    }

    .rating .bl_2 .wg_1 .widgets .r_w .w_items .item .img_block {
        max-width: 30vw;
    }

    .rating .bl_2 .wg_2 .widgets .r_w .w_txt_1 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .information .bl_1 .wg_1 .widgets .r_w .items_w .item .bar {
        display: none;
    }

    .information .bl_1 .wg_1 .widgets .r_w .items_w .item {
        justify-content: space-between;
    }

    .rating .bl_2 .wg_2 .widgets .r_w .w_txt_2 {
        font-size: 16px;
    }

    .rating .bl_2 .wg_3 .widgets .r_w {
        flex-direction: column;
    }

    .rating .bl_2 .wg_3 .widgets .r_w .w_item {
        width: auto;
    }

    .rating .bl_2 .wg_3 .widgets .r_w .w_item_1 {
        margin-bottom: 15px;
    }

    .rating .bl_2 .wg_3 .widgets .l_w .w_link {
        position: static;
    }

    .rating .bl_2 .wg_3 .widgets {
        display: block;
    }

    .rating .bl_2 .wg_3 .widgets .l_w {
        width: auto;
        display: block;
        margin-bottom: 20px;
    }

    .rating .bl_2 .wg_4 {
        margin-top: 30px;
    }

    .information .bl_1 .wg_1 .widgets .r_w .txt_w_1 {
        font-size: 24px;
    }

    .information .bl_1 .wg_1 .widgets .r_w .txt_w_2 {
        font-size: 16px;
    }

    .information .bl_1 .wg_1 .widgets .r_w .items_w .item .name {
        margin-right: 100px;
        flex: 2;
    }

    .information .bl_2 {
        margin-top: 100px;
    }

    .information .bl_2 .wg_1 .widgets .r_w .txt_w_1 {
        font-size: 24px;
    }

    .information .bl_2 .wg_1 .widgets .r_w .group_w .w_img {
        display: none;
    }

    .information .bl_2 .wg_1 .widgets .r_w .group_w .w_txt_2 .n {
        font-size: 90px;
    }

    .table_w {
        display: none;
    }
}
